@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

@import url(color.css);

.section-title{
    padding-left:15px;
    padding-right:15px;
}
.container{
    max-width:1100px;
    width:100%;
    margin:auto;
}
.Aboutrow{
    display:flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: 30px;
    position: relative;

}
.section-about .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex:0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
}
.section-title h2{
    font-size: 30px;
    color:var(--white-color);
    font-weight:700;
    position: relative;
    font-family: 'Roboto Mono', monospace;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 90px;
    background-color: var(--main-color);
    position: absolute;
    top:100%;
    left:2.5%;
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--main-color);
    position: absolute;
    margin-top:8px;
    top:100%;
    left:4.5%;
}
.about-content{
    flex:0 0 100%;
    max-width: 100%;
    
}
.about-content .about-text{
    flex:0 0 100%;
    max-width: 100%;
    padding-left:15px;
    padding-right:15px;
}
.about-content .about-text h3{
    font-size:25px;
    margin-bottom: 15px;
    font-family: 'Roboto Mono', monospace;
    color:var(--white-color);
    font-weight:700;
}
.about-content .about-text h3 span{
    color:var(--light-main);
}

.about-content .about-text p{
    font-size: 16px;
    line-height:25px;
    color:var(--white-color);
    font-family: 'Roboto Mono', monospace;
}

.about-content .personal-info {
    flex:0 0 60%;
    max-width: 60%;
    margin-top: 40px;
    padding-left:15px;
    padding-right:15px;
}

.about-content .personal-info .info-item{
    flex:0 0 50%;
    max-width: 50%;
    padding-left:15px;
    padding-right:15px;
}

.about-content .personal-info .info-item p{
    font-weight: 10px;
    color: var(--white-color);
    padding: 10px 0;
    font-size:14px;
    border-bottom: 1px solid var(--light-main);
    font-family: 'Roboto Mono', monospace;
}

.about-content .personal-info .info-item p span{
    font-weight: 400;
    color:var(--bg-light-gray);
    margin-left: 4px;
    display:inline-block;
    font-family: 'Roboto Mono', monospace;
}

.about-content .skills {
    flex:0 0 40%;
    max-width: 40%;
    margin-top: 40px;
    padding-left:15px;
    padding-right:15px;
}
.buttons{
    padding-top: 10px;
    padding-left:15px;
}
.downloadBtn{
    display: flex;
    line-height:40px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid var(--main-color);
    color: white;
    transition: all 0.3s;
    
    

}


.buttons .downloadBtn span{
    margin-left: 10px;
}

.buttons .downloadBtn:hover{
    background-color:var(--light-main);
    transition: all 0.3s;
    z-index: -1;
    color: var(--black);
}
.buttons .downloadBtn:hover .FontAwesomeIconDownload{
    background: var(--light-main);
    color: var(--black);
    transition: all 0.3s;

}

.FontAwesomeIconDownload{
    border-radius: 50%;
    border: 1px ;
    padding: 10px;
    margin-left: 15px;
    background: var(--main-color);
    color: var(--bg-light-gray);
    transition: all 0.3s;

}
.skills .skill-item{
    position: relative;
    height: 100px;
    width:150px;
    border:0.5px solid var(--light-main);
    border-radius: 5px;
    margin: 10px;
    display:block;
    text-align: center  ;
    box-shadow: 0px 0px 10px rgba(175, 191, 72 ,0.116);
    
}
.skills .skill-item:hover{
    box-shadow: 0px 0px 10px rgba(175, 191, 72, 0.747);
    
}
.skills .skill-item h4{
    padding:10px;
    color:var(--white-color);
    font-family: 'Roboto Mono', monospace;
}
.cricletitle{
    margin-bottom: 0px;
}

.progressdiv{
    width: 50px;
    height: 50px;
    margin-left: 35%;
}   

.devider{
    margin-top: 60px;
    background-color:var(--light-main);
    width:300px;
    height: 4px;
    margin-left: 30%;
    border: 1px solid var(--light-main);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.692);
}
.skills{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: center;
}

.skill-details h3{
    font-size:25px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
    color:var(--white-color);
    font-weight:700;
}
.skill-details h4{
    color:var(--white-color);
    font-weight:700;
    font-family: 'Roboto Mono', monospace;
    font-size:15px;
    margin-top: 0px;

}

.progressdiv1{
    margin: 20px;
    width: 200px;
    height: 10px;
    padding: 10px;
}





.progress-div {
    background-color: #d5df94dc;
    border-radius: 60px;
    height: 10px;

}

.progress {
    background-color: var(--main-color);
    height: 10px;
    border-radius: 60px;
    transition: 1s ease;
    transition-delay: 0.5s;
}



.about-content .Aboutrow .education{
    flex:0 0 50%;
    max-width: 50%;
    margin-top: 40px;
    padding-left:15px;
    padding-right:15px;
}
.about-content .Aboutrow .education .timeline-div .timeline:hover ,
.about-content .Aboutrow .experience .timeline-div .timeline:hover{
    box-shadow: 0px 0px 10px rgba(175, 191, 72, 0.747);

}

.about-content .Aboutrow .experience{
    flex:0 0 50%;
    max-width: 50%;
    margin-top: 40px;
    padding-left:15px;
    padding-right:15px;

}
.about-content .Aboutrow .education h3, 
.about-content .Aboutrow .experience h3{
    font-size:20px;
    margin-bottom: 15px;
    font-family: 'Roboto Mono', monospace;
    color:var(--white-color);
    font-weight:700;
}

.about-content .Aboutrow .education .timeline-div,
.about-content .Aboutrow .experience .timeline-div{
    flex:0 0 100%;
    max-width: 100%;
    margin-top: 40px;
    padding-left:15px;
    padding-right:15px;
    
}

.about-content .Aboutrow .education .timeline,
.about-content .Aboutrow .experience .timeline{
    background-color:var(--bg-gray);
    padding:30px 15px;
    border:1px solid var(--bg-gray);
    border-radius:10px;
    width: 100%;
    position: relative;

}

.about-content .Aboutrow .education .timeline .timeline-item,
.about-content .Aboutrow .experience .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about-content .Aboutrow .education .timeline .timeline-item:last-child,
.about-content .Aboutrow .experience .timeline .timeline-item:last-child{
    padding-bottom: 0px;
}

.about-content .Aboutrow .education .timeline .timeline-item::before,
.about-content .Aboutrow .experience .timeline .timeline-item::before{
    content: '';
    width:1px;
    position: absolute;
    height:100%;
    left:7px;
    top:0;
    background-color:var(--light-main);
}

.about-content .Aboutrow .education .timeline .circle-dot,
.about-content .Aboutrow .experience .timeline .circle-dot {
    position: absolute;
    left: 0;
    top:0;
    height:15px;
    width:15px;
    border-radius:50%;
    background-color:var(--light-main);
}

.about-content .Aboutrow .education .timeline .timeline-date,
.about-content .Aboutrow .experience .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color:var(--light-main);
}

.about-content .Aboutrow .education .timeline .timeline-date .calendar,
.about-content .Aboutrow .experience .timeline .timeline-date .calendar{
    margin-right: 5px;
}

.about-content .Aboutrow .education .timeline .timeline-title,
.about-content .Aboutrow .experience .timeline .timeline-title{
    font-weight:700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform:capitalize;
    color: var(--white-color);
    font-family: 'Roboto Mono', monospace;

}
.about-content .Aboutrow .education .timeline .timeline-text,
.about-content .Aboutrow .experience .timeline .timeline-text{
    line-height: 25px;
    font-size: 14px;
    text-align:justify;
    color: var(--white-color);
    font-family: 'Roboto Mono', monospace;


}
.shadow-box{
    box-shadow: 0px 0px 10px rgba(175, 191, 72 ,0.116);
}

@media (max-width:1300px){
    .about-text{
        flex: 0 0 100%;
    }
    .about-content .personal-info{
        flex: 0 0 100%;
        display: block;
        max-width: 100%;
    }
    .first-session{
        display: block;
        margin: 0px ;
    }
  
    
    .section-about{
        overflow: scroll;
    }
    
    .about-content .skills {
        flex: 0 0 90%;
        max-width: 90%;
        margin-top: 40px;
        margin-left: 15px;
        padding-right: 15px;
    }
    .skills .skill-item {
        position: relative;
        height: 25%;
        width: 100%;
        border: 0.5px solid var(--light-main);
        border-radius: 5px;
        margin: 10px;
        display: block;
        text-align: center;
        box-shadow: 0px 0px 10px rgb(175 191 72 / 12%);
    }
    
    .progressdiv {
        width: 40%;
        height: 40%;
        margin-left: 30%;
    }
    .skills .skill-item h4{
        font-size: 25px;
    }
    .devider {
        margin-top: 10%;
        width: 95%;
        height: 4px;
        margin-left: 0;
    }
    
    .about-content .Aboutrow .education {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-content .Aboutrow .education h3{
        font-size: 40px;
    }
    .about-content .Aboutrow .education .timeline-div, .about-content .Aboutrow .experience .timeline-div {
        padding-left: 0px;
    }
    .about-content .Aboutrow .education .Aboutrow .timeline-div .timeline .timeline-item h4{
        font-size: 30px;
    }
    .about-content .Aboutrow .education .Aboutrow .timeline-div .timeline .timeline-item p{
        font-size: 25px;
    }
    .about-content .Aboutrow .education .Aboutrow .timeline-div .timeline .timeline-item .calendar{
        font-size: 25px;
    }
    .about-content .Aboutrow .education .Aboutrow .timeline-div .timeline .timeline-item h3{
        font-size: 25px;
    }

    .about-content .Aboutrow .experience {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .about-content .Aboutrow .experience h3{
        font-size: 40px;
    }
    .about-content .Aboutrow .experience .Aboutrow .timeline-div .timeline .timeline-item h4{
        font-size: 30px;
    }
    .about-content .Aboutrow .experience .Aboutrow .timeline-div .timeline .timeline-item p{
        font-size: 25px;
    }
    .about-content .Aboutrow .experience .Aboutrow .timeline-div .timeline .timeline-item .calendar{
        font-size: 25px;
    }
    .about-content .Aboutrow .experience .Aboutrow .timeline-div .timeline .timeline-item h3{
        font-size: 25px;
    }
    
}

@media (max-width:550px){
    .about-content .personal-info .first-session-aprt1{
        display: block;

    }
    .about-content .personal-info .first-session-aprt1 .info-item{
        margin: 0px;
        flex:0 0 100%;
        max-width: 100%;
    }
    .Aboutrow {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .section-about{
        overflow: scroll;
    }
    .about-content .skills {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .skills .skill-item {
        position: relative;
        height: 25%;
        width: 100%;
        border: 0.5px solid var(--light-main);
        border-radius: 5px;
        margin: 10px;
        display: block;
        text-align: center;
        box-shadow: 0px 0px 10px rgb(175 191 72 / 12%);
    }
    .progressdiv {
        width: 40%;
        height: 40%;
        margin-left: 30%;
    }
    .skills .skill-item h4{
        font-size: 25px;
    }
    .devider {
        margin-top: 30%;
        width: 95%;
        height: 4px;
        margin-left: 0;
    }
    
    .about-content .Aboutrow .education {
        flex: 0 0 100%;
        max-width: 100%;
        
    }
    .about-content .Aboutrow .education h3{
        font-size: 25px;
    }
    .about-content .Aboutrow .education .timeline-div, .about-content .Aboutrow .experience .timeline-div {
        padding-left: 0px;
    }
    .about-content .Aboutrow .education .Aboutrow .timeline-div .timeline .timeline-item h4{
        font-size: 20px;
    }
    .about-content .Aboutrow .education .Aboutrow .timeline-div .timeline .timeline-item p{
        font-size: 15px;
    }
    .about-content .Aboutrow .education .Aboutrow .timeline-div .timeline .timeline-item .calendar{
        font-size: 20px;
    }
    .about-content .Aboutrow .education .Aboutrow .timeline-div .timeline .timeline-item h3{
        font-size: 20px;
    }

    .about-content .Aboutrow .experience {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .about-content .Aboutrow .experience h3{
        font-size: 25px;
    }
    .about-content .Aboutrow .experience .Aboutrow .timeline-div .timeline .timeline-item h4{
        font-size: 20px;
    }
    .about-content .Aboutrow .experience .Aboutrow .timeline-div .timeline .timeline-item p{
        font-size: 15px;
    }

    .about-content .Aboutrow .experience .Aboutrow .timeline-div .timeline .timeline-item .calendar{
        font-size: 20px;
    }
    .about-content .Aboutrow .experience .Aboutrow .timeline-div .timeline .timeline-item h3{
        font-size: 20px;
    }

}