@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Qwitcher+Grypen:wght@700&display=swap');

@import './color.css';

body {
    line-height:1.5;
    font-size:16px;

}

*{
    margin:0;
    padding:0;
    outline:none;
    text-decoration: none;
    box-sizing:border-box;
    
}

ul{
    list-style: none;
}

::before,::after{
    box-sizing: border-box;
}

.section {
    background:var(--bg-black-900);
    min-height:100vh;
    display:block;
    position: fixed;
    left: 270px;
    top:0;
    right: 0;
    z-index: index 0;
    opacity: 1;
}

.Asidedev{
    width:270px;
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    height: 100%;
    padding:30px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.Asidedev .logo{
    position:absolute;
    top:50px;
    font-size: 30px;
    text-transform: capitalize;

}

.Asidedev .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding:15px 20px;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
}

.ubi{
    font-family: 'Qwitcher Grypen';
    font-size:40px;
    transition-duration: 3s;
}



.Ou{
    font-family: 'Qwitcher Grypen', cursive;
    font-size:50px;
    transition-duration: 3s;
}


.Asidedev .logo a::before{
    content:'';
    position:absolute;
    width:100px;
    height:0px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom:0;
    left:0;
    transition-duration: 3s;
}
.Asidedev .logo a::after{
    content:'';
    position:absolute;
    width:100px;
    height:0px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top:0;
    right:0;
    transition-duration: 3s;
}

.Asidedev .logo a:hover::after{

    content:'';
    position:absolute;
    width:0px;
    height:60px;
    border-right: 5px solid var(--skin-color);
    top:0;
    right:0;
    transition-duration: 3s;

}

.Asidedev .logo a:hover::before{
    content:'';
    position:absolute;
    width:0px;
    height:60px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom:0;
    left:0;
    transition-duration: 3s;
}

.Asidedev .logo a:hover .ubi{
    font-family: 'Qwitcher Grypen';
    font-size:50px;
    transition-duration: 1.5s;
}

.Asidedev .nav li a {
    color: var(--text-black-900);
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color:#f2f2fc7e;
    border: solid var(#f2f2fc7e);
    margin-bottom: 15px;  
}


.Asidedev .nav li a:hover{
    background-color: #6515f0;
    transition-duration: 1s ;
    display: inline-block;
    border-radius: 50%;
    transition-duration: all 1s ease-out;

}

.Asidedev .nav li a.active {
    transition-duration: 1s;
    background-color: #6515f0;
    
}

.Asidedev .nav li a .FontAwesomeIcon{   
    height: 20px;
    width: 20px;
    margin: 15px;
}
/* 
.Asidedev .nav li a:hover span{ 
    background-color: #6515f0;
    transition-duration: 1s ;
    display: block;
    visibility: visible; 
    height: 30px;
    width: 90px;
    font-size: 10px;
    padding: 5px;
    border-radius: 15%;
    font-size: 20px;
    align-items: center;
} */

 .spanItem{  
    visibility: hidden; 
}