.SegmentedControl{
    background-color:red;
    color:green;
}


.portfolio-item{
    margin-bottom:30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-left:15px;
    padding-right:15px;
}

.portfolio-item .portfolio-item-inner{
    background-color: var(--bg-gray);
    border:1 solid var(--black);
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    padding-top: 10px;
    transition: all 0.3s ease;
}

.portfolio-item .portfolio-item-inner:hover{
    box-shadow: 0px 0px 10px rgba(175, 191, 72, 0.747);
    padding: 2px 5px;
    padding-top: 5px;
}
.portfolio-item .portfolio-item-inner .portfolioImage{
    width:100%;
    border-radius:10px;
}
@media(max-width:1300px){
    .portfolio-item{
        margin-bottom:30px;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left:15px;
        padding-right:15px;
    }
}
@media(max-width:550px){
    .portfolio-item{
        margin-bottom:30px;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left:0px;
        padding-right:35px;
    }
}
.modal{
    position:fixed;
    align-self: center;
    background-color: var(--background-color);
    transform: translate(-50%,-50%);
    width: 50%;
    height:80%;
    top: 50%;
    left:50%;
    border-radius: 10px;
}
.modal .closeButtonModal {
    display: flex;
}
.modal .closeButtonModal .closeDiv{
    left:100%;
    border-radius: 50%;
    border: 1px solid var(--white-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center
}
.modal .closeButtonModal .closeDiv .fontawsome{
    color: var(--white-color);
}