@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

@import url(color.css);

.service-item{
    margin-bottom:30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-left:15px;
    padding-right:15px;
}

.service-item .service-item-inner{
    background-color: var(--bg-gray);
    border:1 solid var(--black);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}
h4{
    font-size:15px;
    margin-bottom: 15px;
    letter-spacing:5px;
    font-family: 'Roboto Mono', monospace;
    color:var(--light-main);
    font-weight:700;
    text-transform: capitalize;
}

p{
    font-size: 14px;
    line-height:25px;
    color:var(--bg-light-gray);
    font-family: 'Roboto Mono', monospace;
}

.service-item .service-item-inner .icon .fontawsome{
    color:var(--light-main);
    height:40px;
    margin-top: 10px;
    transition: all 0.5s ease;

}

.service-item .service-item-inner:hover{
    box-shadow: 0px 0px 30px rgba(175, 191, 72 ,0.116);

}

.service-item .service-item-inner .icon{
    height:60px;
    width:60px;
    border-radius: 50%;
    display:block;
    margin: 0 auto 30px;
    text-align: center;

}
.service-item .service-item-inner:hover .icon{
    background-color: var(--light-main);
    transition: all 0.5s ease;
}

.service-item .service-item-inner:hover .icon .fontawsome{
    height:30px;
    margin-top: 15px;
    color:var(--main-color);
    transition: all 0.5s ease;
}