@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Qwitcher+Grypen:wght@700&display=swap');

@import './color.css';

body {
    line-height:1.5;
    font-size:16px;

}

*{
    margin:0;
    padding:0;
    outline:none;
    text-decoration: none;
    box-sizing:border-box;
    
}

ul{
    list-style: none;
}

::before,::after{
    box-sizing: border-box;
}

.section {
    background:var(--main-color);
    min-height:100vh;
    display:block;
    position: fixed;
    left: 270px;
    top:0;
    right: 0;
    z-index: index 0;
    opacity: 1;
}

.Asidedev{
    width:270px;
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    height: 100%;
    padding:30px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.Asidedev .logo{
    position:absolute;
    top:50px;
    font-size: 30px;
    text-transform: capitalize;

}

.Asidedev .logo a {
    color: var(--white-color);
    font-weight: 700;
    padding:15px 20px;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
}

.ubi{
    font-family: 'Qwitcher Grypen';
    font-size:40px;
    transition-duration: 2s;
}



.Ou{
    font-family: 'Qwitcher Grypen', cursive;
    font-size:50px;
    transition-duration:2s;
}


.Asidedev .logo a::before{
    content:'';
    position:absolute;
    width:100px;
    height:0px;
    border-bottom: 5px solid var(--main-color);
    border-left: 5px solid var(--main-color);
    bottom:0;
    left:0;
    transition-duration: 2s;
}
.Asidedev .logo a::after{
    content:'';
    position:absolute;
    width:100px;
    height:0px;
    border-top: 5px solid var(--main-color);
    border-right: 5px solid var(--main-color);
    top:0;
    right:0;
    transition-duration: 2s;
}

.Asidedev .logo a:hover::after{

    content:'';
    position:absolute;
    width:0px;
    height:60px;
    border-right: 5px solid var(--main-color);
    top:0;
    right:0;
    transition-duration: 2s;

}

.Asidedev .logo a:hover::before{
    content:'';
    position:absolute;
    width:0px;
    height:60px;
    border-bottom: 5px solid var(--main-color);
    border-left: 5px solid var(--main-color);
    bottom:0;
    left:0;
    transition-duration: 2s;
}

.Asidedev .logo a:hover .ubi{
    font-family: 'Qwitcher Grypen';
    font-size:50px;
    transition-duration: 1.5s;
}

.Asidedev .nav li a {
    color: var(--main-color);
    display: block;
    margin-top: 15px;  
}


.wrapper .button{
	display:inline-block;
    height:50px;
    width:50px;
    margin:0 5px;
    overflow:hidden;
    background:var(--bg-gray);
    border-radius:50px;
    cursor:pointer;
    box-shadow:0px 10px 10px rgba(253, 253, 253, 0.007);
    transition: all 0.3s ease-out;
}


.wrapper .button .icon{
    display:inline-block;
    height:50px;
    width:50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height:55px;
    transition: all 0.3s ease-out;

}
.wrapper .button:nth-child(1):hover .icon{
    background-color:var(--main-color);
}

.wrapper .button .icon .FontAwesomeIcon{
    font-size: 20px;
    line-height:60px;
    color:var(--white-color);
    transition: all 0.3s ease-out;

}
.wrapper .button:hover .icon .FontAwesomeIcon{
    color:var(--white-color);
}
.wrapper .button:hover {
    background-color:var(--main-color);

}
.wrapper .button span{
    font-size:20px;
    font-weight:100;
    line-height:50px;
    margin-left:10px;
    color: var(--white-color);
    font-family: 'Roboto Mono', monospace;
}

.wrapper .button:hover{
    width:180px;
}

@media (min-width:1300px){
    .AsidedevBottom{
        visibility: hidden;
        bottom:-1px;
        width:270px;
        position:fixed;
        top:100%;
        z-index:10;
        height: 100%;
        padding:30px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

@media (max-width:1300px){
    .Asidedev{
        visibility: hidden;
        left: 100%;
    }
    .AsidedevBottom{
        bottom:0px;
        width:100%;
        position:fixed;
        overflow: hidden;
        height: 10%;
        display: block;
        text-align: center;
        background-color: var(--background-color);
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        



    }
    
    .Asidedev .nav li a {
        color: var(--main-color);
        display: block;
    }

    .wrapper{
        padding: 0.5%;
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        padding-top:2%;
        padding-bottom:4%;
        

    }
   
    .wrapper .button{
        display:inline-block;
        height:80%;
        width:80%;
        overflow:hidden;
        background:var(--bg-gray);
        border-radius:50px;
        cursor:pointer;
        box-shadow:0px 10px 10px rgba(253, 253, 253, 0.007);
        transition: all 0.3s ease-out;
    }
    .wrapper .button:hover{
        width:90%;
    }
}